<h1 mat-dialog-title>{{ title }}</h1>
<div mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="component.name" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Count</mat-label>
    <input matInput [(ngModel)]="component.count" type="number" min="" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Package</mat-label>
    <input
      matInput
      [(ngModel)]="component.package"
      [matAutocomplete]="auto"
      [formControl]="packageAutocomplete.control"
    />
    <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
      <mat-option
        *ngFor="let package of packageAutocomplete.filteredValues | async"
        [value]="package"
      >
        {{ package }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select [(ngModel)]="component.category" name="category">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="component.description" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Link</mat-label>
    <input matInput [(ngModel)]="component.link" type="url" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onYesClick()" cdkFocusInitial>Save</button>
</div>
