<!-- <router-outlet></router-outlet> -->

<div *ngIf="!isLoading; else elseBlock1">
  <div *ngIf="user; else elseBlock2">
    <mat-toolbar color="primary">
      <span>Hi, {{user.displayName}}</span>
      <span class="mtoolbar-spacer"></span>
      <!-- <import-excel-button></import-excel-button> -->
      <button mat-flat-button color="warn" class="logout-button" (click)="logout()">Logout</button>
    </mat-toolbar>
    <div class="main-content">
      <mtable></mtable>
      <add-button></add-button>
    </div>
  </div>
  <ng-template #elseBlock2>
    <div class="main-content">
      <p>Please login to access your components.</p>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
  </ng-template>
</div>
<ng-template #elseBlock1>
  <div class="mat-loading-shade">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>